/* 
#4D8DFF  BLÅ
#FFAD69  ORANGE
#544837  LJUS SVART
#2F281E  SVART
#FFC84D  GUL
#232323  SVART
#D88344  BRUN
#E5AA33  GULD
#D1CDD3  GRÅ
#D8D5DB  GRÅ
#F5F9FD  VIT
#FDE6D6  ROSA
#FF4E4A  RÖD
#FFFFFF  VIT
*/

body {
    margin: 0;
    background-color: #FFFFFF;
    margin-left: 144px;
}

/* navigation bar */
#nav {
    min-width: 1256px;
    min-height: 78px;
    border: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: space-around;
    margin-top: 20px;
}


.menu {
    min-width: 600px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    color: #2F281E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 185px;
    height: 32px;
    transform: translate(-80px, 10px);
    display: flex;
    justify-content: flex-start;
}

.btn {
    display: flex;
    justify-content: space-around;
}

.signin {
    width: 102px;
    height: 46px;
    border: 2px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #BCD0E5;
    border-radius: 4px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: #173A56;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.signup {
    background-color: #FF9900;
    width: 110px;
    height: 46px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header section */

.section-header {
    min-width: 1126px;
    min-height: 496px;
    display: flex;
    justify-content: flex-start;
}
.header-functions {
    display: flex;
    flex-direction: row;
}

h1 {
    width: 518px;
    height: 108px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #2F281E;
    font-size: 44px;
    line-height: 1.2;
    transform: translateY(30px);
}
.paragraph {
    width: 458px;
    height: 95px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #544837;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 30px;
}

.jumping {
    width: 605px;
    height: 496px;
    margin-top: 30px;
}

.header-thinking {
    width: 518px;
    height: 331px;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(30px);
}

.btn-header {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.video {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 17px solid #FF9900;
    border-radius: 1.13;
    position: relative;
    left: 32.5px;
    top: 17px;
}

.video-text {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #ff9900;
    transform: translateX(41px);
}

/* Feature section */
.container {
    min-width: 1126px;
    min-height: 543px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.title-feature {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    width: 539px;
    height: 108px;
    display: flex;
    text-align: center;
    transform: translate(-100px, 54px);
}

.image-icon {
    width: 50px;
    height: 50px;
}
.click {
    width: 240px;
    height: 178px;
}

.survey {
    width: 240px;
    height: 178px;
}

.preference {
    width: 240px;
    height: 178px;
}

.hourglass {
    width: 240px;
    height: 178px;
}

.icons {
    min-width: 1095px;
    min-height: 204px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.feature-btn {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-650px, 250px);
}
/*
.click, .survey, .preference, .hourglass {
    width: 240px;
    height: 178px;
    display: flex;
    flex-wrap: wrap;
}
*/
.title-click, .title-survey, .title-preference, .title-hourglass {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    color: #2F281E;
}
.text-click, .text-survey, .text-preference, .text-hourglass {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #544837;
    height: 52px;
}

.validation {
    min-width: 1110px;
    min-height: 574px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    transform: translate(0px, 210px);
}

.professionals {
    width: 486px;
    height: 531px;
    justify-content: center;
    position: absolute;
}

.title-professionals, .title-managers, .title-marketers {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #2F281E;
}

h2 {
    margin-top: -10px;
}

h4 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #2F281E;
    margin-top: 25px;
    margin-bottom: 12px;
}
.Accessory {
    margin-top: 30px;
}

p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #544837;
}

.male-phone {
    width: 520px;
    height: 574px;
    position: absolute;
    right: 104px;
}
/* Managers section */

.decision-making {
    min-width: 1121px;
    min-height: 521px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    transform: translateY(300px);
}
.male-computer {
    width: 535px;
    height: 521px;
}

.managers {
    width: 486px;
    height: 427px;
    position: absolute;
    right: 100px;
}

/*
.container-text {
    position: relative;
}
    */
.box-text {
    min-width: 450px;
    min-height: 52px;
    display: inline-block;
    margin-top: 30px;
    position: relative;
}

.checkboxes {
    background-color: #FF9900;
    width: 35px;
    height: 35px;
    border-radius: 13.85px;
    display: flex;
    flex-wrap: wrap;
}
.text-managers {
   position: absolute;
   left: 70px;
   bottom: -10px;
}

.energy {
    max-width: 365px;
}

.fa-check {
    font-size: 20px;
    transform: translate(9px, 7px);
}


/* Marketers section */

.optimisation {
    min-width: 1110px;
    min-height: 609px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    transform: translateY(400px);
}
.male-notes {
    width: 542px;
    height: 609px;
    position: absolute;
    right: 82px;
}

.marketers {
    width: 486px;
    height: 181px;
}


/* Footer section */
.break-line {
    width: 1109px;
    height: 1px;
    background-color: #BCD0E5;
    margin-top: 146px;
    margin-bottom: 102px;
    transform: translateY(300px);
}

.info-footer {
    transform: translateY(300px);
}

.logo2 {
    transform: translateY(270px);
}

.info-footer {
    min-width: 1110px;
    min-height: 308px;
    display: flex;
    justify-content: center;
    position: relative;
}

.info-text1, .info-text2 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2.2;
    margin-bottom: 83px;
}

.info-text1 {
    width: 72px;
    height: 140px;
}

.info-text2 {
    width: 132px;
    height: 140px;
    position: absolute;
}

.blank-box {
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #BCD0E5;
    width: 325px;
    height: 48px;
}
.button-footer {
    width: 131px;
    height: 39px;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.news {
    width: 325px;
    height: 199px;
    transform: translate(300px, 20px);
}

.blank-box {
    margin-bottom: 21px;
    display: flex;
    justify-content: flex-end;
}
/*
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.title-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    */